body {
    background-color: whitesmoke;
    font-family: "Raleway";
}

.not-complete {
    color: red;
    font-weight: bolder;
}

.bg-img {
    width: 100% !important;
    max-height: 729px;
}
.neg-freq {
    color: yellow;
    font-weight: bolder;
}
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

.input-field.choreSearch {
    margin: 0 1%;
}
.times-complete {
    color: purple; 
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}

.mode {
 color: black;
}
.ital {
    font-style: italic;
}

.ip {
    font-weight: bolder; 
    color: firebrick
}

.completed-chore {
    color: cornsilk; 
    font-weight: bolder;
}

.show-points {
    float: right; 
    max-height: 30%; 
    min-height: 30%;
}

.padded {
    padding: 0px 18px;
}

h1, h2, h3, h4 {
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 35px;
    font-weight: bolder;
    text-shadow: 1px 1px;
}

h3 {
    margin-top: 45px;
}
.brand-logo {
    font-family: "Monoton";
    /*font-size: 3em;*/
}

#chore-track {
    margin-bottom: 35px;
}

.btn, button {
    background-color: darkgrey;
    box-shadow: 1px 1px 5px black;
    font-weight: 900;
}
.btn:hover {
    background-color: #212121;
}

.card {
    box-shadow: 20px 10px 10px;
}

.card-content {
    min-height: 215px;
}


.home-opt{
    display: block;
    width: 75%;
    margin: 2% auto;
    text-align: center;
}

a {
    color: black;
}

#search {
    box-shadow: 5px 5px 5px darkgrey;
    background-color: rgba(0,0,0, 0.1);
}
